In [1]:
!pip install persiantools
!pip install price-parser
!pip install hazm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: persiantools in /usr/local/lib/python3.9/dist-packages (3.0.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: price-parser in /usr/local/lib/python3.9/dist-packages (0.3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.9/dist-packages (from price-parser) (22.2.0)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: hazm in /usr/local/lib/python3.9/dist-packages (0.7.0)
Requirement already satisfied: nltk==3.3 in /usr/local/lib/python3.9/dist-packages (from hazm) (3.3)
Requirement already satisfied: libwapiti>=0.2.1 in /usr/local/lib/python3.9/dist-packages (from hazm) (0.2.1)
Requirement already satisfied: six in /usr/local/lib/python3.9/dist-packages (from nltk==3.3->hazm) (1.16.0)

In [1]:
from persiantools import digits
from price_parser import Price
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from __future__ import unicode_literals
from hazm import *
import random 
import numpy as np
import nltk
import pandas as pd
import codecs
import tqdm
from numpy import array
from sklearn.decomposition import PCA

In [2]:
df = pd.read_csv('advertisementData.csv')

<ipython-input-2-9d9e728521d4>:1: DtypeWarning: Columns (64,93) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('advertisementData.csv')

In [3]:
listPrice = list(df['قیمت'])

In [ ]:
listNumberPrice = []
for price in listPrice:
  if price is not None:
    if type(price) != str:
      print(price)
      listNumberPrice.append(0)
    else:
      # print(type(price))
      enPrice = digits.fa_to_en(price)
      enPrice = enPrice.replace('٬' , '')
      price = Price.fromstring(enPrice)
      if price.amount is not None: 
        listNumberPrice.append(int(price.amount))
      else:
        listNumberPrice.append(0)
  else:
    listNumberPrice.append(0)

In [5]:
df.drop(['قیمت'], inplace=True, axis=1)

In [6]:
df.insert(loc=1, column="price", value=listNumberPrice)

In [7]:
df

,Unnamed: 0,price,زنانه/مردانه,description2,cat2,cat1,cat0,نوع لباس,category,mainTitle,...,امکان کار در منزل,نوع دسته,تعداد شاخه,سند اداری,شاسی جلو,شاسی عقب,نوع تجهیزات,نوع تجهیزات بازی,جنس کمربند,فروشنده
0,0,75000,زنانه,شلوار بیرونی زنانه ،زنانه/مردانه زنانه است. ش...,لباس,کیف، کفش و لباس,وسایل شخصی,شلوار,"['وسایل شخصی', 'کیف، کفش و لباس', 'لباس', 'شلو...",شلوار بیرونی زنانه,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2900000,NaN,این کالا جلو مبلی عسلی چتری است,مبلمان خانگی و میزعسلی,مبلمان و صنایع چوب,خانه و آشپزخانه,NaN,"['خانه و آشپزخانه', 'مبلمان و صنایع چوب', 'مبل...",جلو مبلی عسلی چتری,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1111,NaN,لباس مجلسی دخترانه ،جنس غیره است. لباس مجلسی ...,جواهرات,زیورآلات و اکسسوری,وسایل شخصی,NaN,"['وسایل شخصی', 'زیورآلات و اکسسوری', 'جواهرات'...",لباس مجلسی دخترانه,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,1000000,زنانه,پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸ ،زنانه/مردانه...,لباس,کیف، کفش و لباس,وسایل شخصی,لباس مجلسی,"['وسایل شخصی', 'کیف، کفش و لباس', 'لباس', 'پیر...",پیراهن مشکی کوتاه ترک سایز ۳۶-۳۸,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,0,NaN,این کالا ایمورتال کلاچ اتوماتیک black است,ایمورتال کلاچ اتوماتیک black,قطعات یدکی و لوازم جانبی,وسایل نقلیه,NaN,"['وسایل نقلیه', 'قطعات یدکی و لوازم جانبی', 'ا...",ایمورتال کلاچ اتوماتیک black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32723,32723,0,NaN,این کالا برقکار،برقکار ساختمان،دوربین تعمیرات ...,برقکار،برقکار ساختمان،دوربین تعمیرات,پیشه و مهارت,خدمات,NaN,"['خدمات', 'پیشه و مهارت', 'برقکار،برقکار ساختم...",برقکار،برقکار ساختمان،دوربین تعمیرات,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32724,32724,0,NaN,حسابدار خانم ،ساعات کاری از ۹ تا ۱۷ پنجشنبه‌ها...,حسابدار خانم,مالی و حسابداری و حقوقی,استخدام و کاریابی (غیر رایگان),NaN,"['استخدام و کاریابی (غیر رایگان)', 'مالی و حسا...",حسابدار خانم,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32725,32725,38280000,NaN,نیمست گردنبند طلا ورساچ E5J194 ،جنس طلا است. ...,جواهرات,زیورآلات و اکسسوری,وسایل شخصی,NaN,"['وسایل شخصی', 'زیورآلات و اکسسوری', 'جواهرات'...",نیمست گردنبند طلا ورساچ E5J194,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32726,32726,0,NaN,اجاره سوییت مبله ،متراژ ۷۰ است. اجاره سوییت م...,آپارتمان و سوئیت,اجاره کوتاه مدت,املاک,NaN,"['املاک', 'اجاره کوتاه مدت', 'آپارتمان و سوئیت...",اجاره سوییت مبله,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32727,32727,20000000,NaN,این کالا خرید و خریدار موی طبیعی است,خرید و خریدار موی طبیعی,آرایشی، بهداشتی و درمانی,وسایل شخصی,NaN,"['وسایل شخصی', 'آرایشی، بهداشتی و درمانی', 'خر...",خرید و خریدار موی طبیعی,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df2ZeroAndOne = pd.read_csv('dataWithZeroOne.csv')

In [9]:
df2ZeroAndOne[['description2' , 'description']].to_csv("descriptionDataFrame.csv")

In [10]:
listDelete = ['⚪️' , '♥' , '⬇️' , '⬆️' , '✅' , '⭕️' , '✔️' , '♦️' , '*' , '✨' , '☆' , '✔' ,'⚪' , '☃️' , '☑️' , '✳️' , '⬅️' , '⛔' , '⚜️' , '❌' , 'Ⓜ️' , '✴️' , '✴️' , '♻️' , '⚠️' , '☎' , '⚡' , '❗️' , '✋' , '⛛' , '☘️' , '⏰️' , '♨️' , '_', '__', '___', '____', '______', '__________', '___________',
       '____________', '_____________', '______________',
       '_______________', '________________', '_________________',
       '__________________', '___________________',
       '____________________', '_____________________',
       '______________________', '_______________________',
       '________________________', '_________________________',
       '__________________________', '___________________________',
       '____________________________', '_____________________________',
       '______________________________',
       '_______________________________',
       '________________________________',
       '__________________________________',
       '___________________________________',
       '____________________________________',
       '_____________________________________',
       '______________________________________',
       '_______________________________________',
       '________________________________________',
       '____________________________________________',
       '_____________________________________________',
       '______________________________________________',
       '_______________________________________________',]

In [11]:
dfDescription = df2ZeroAndOne[['description2' , 'description']]

In [12]:
listDesc1 = list(dfDescription['description2'])
listDesc2 = list(dfDescription['description'])

In [13]:
len(listDesc1)

32728

In [14]:
listAllDescription = []
for i in range(len(listDesc1)):
  listAllDescription.append(listDesc1[i] + listDesc2[i] )

In [15]:
count = 0
listAllDescription2 = []
for sent in listAllDescription:
  count+=1
  if count%1000 ==0:
    print(count)
  for punc in listDelete:
    if punc in sent:
      # print(punc)
      sent = sent.replace(punc , '')
  listAllDescription2.append(sent)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000

In [16]:
listPunc = ['!' , "@" , "#" , '$' , '%' , '^' , '&' , '*' , '(' , ')' , "-" , '_' , '+' , '=' , '?' , '>' , '<']

In [17]:
count = 0
listAllDescription3 = []
for sent in listAllDescription2:
  count+=1
  if count%1000 ==0:
    print(count)
  for punc in listPunc:
    if punc in sent:
      sent = sent.replace(punc , ' ')
  listAllDescription3.append(sent)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000

In [18]:
listAllDescription = listAllDescription3

In [19]:
normalizer = Normalizer()
tokens = [[word_tokenize(sent) for sent in sents] for sents in [sent_tokenize(x) for x in [normalizer.normalize(desc) for desc in listAllDescription]]]

In [20]:
descriptions = []
for desc in tokens:
    descText = ''
    for sent in desc:
        for token in sent:
                descText = descText + token + " " 
    descriptions.append(descText)

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfIdfModel = TfidfVectorizer()
tfIdfOutput = tfIdfModel.fit_transform(descriptions)
words = tfIdfModel.get_feature_names_out()

In [22]:
df_tf_idf = pd.DataFrame(tfIdfOutput.toarray(), columns = list(words))

In [ ]:
listCount = []
count2 = 0
for column in df_tf_idf.columns:
  count2+=1
  if count2%10 ==0:
    print(count2)
  count = 0
  listtf = list(df_tf_idf[column])
  for i in listtf:
    if i != 0:
      count+=1
  listCount.append(count)

In [24]:
import pickle

In [56]:
import pickle

with open("listFrequencyTfIdf", "wb") as fp:   #Pickling
  pickle.dump(listCount, fp)

In [25]:
with open("listFrequencyTfIdf", "rb") as fp:   # Unpickling
  listCount = pickle.load(fp)

In [26]:
count3 = 0
listidx = []
for i in range(len(listCount)):
  if listCount[i] < 10:
    listidx.append(i)
    count3+=1
count3

39442

In [27]:
listdrop = []
for id in listidx:
  listdrop.append(df_tf_idf.columns[id])

In [28]:
df_tf_idf.drop(listdrop, inplace=True, axis=1)

# pca for zeroAndOne

In [29]:
dfZeroOne = pd.read_csv("dataJustZeroOne.csv")

In [31]:
standardedZeroOne = StandardScaler().fit_transform(dfZeroOne)

In [32]:
pca = PCA(20)
pca.fit(standardedZeroOne)
pcaZeroOne = pca.transform(standardedZeroOne)

In [35]:
column_values = []
for i in range(20):
  column_values.append("pcaZeroOne" + str(i))

dfPcaZeroOne = pd.DataFrame(data = pcaZeroOne, 
                  columns = column_values)

dfPcaZeroOne.to_csv('dfPcaZeroOne.csv')

In [30]:
listLabel = list(df2ZeroAndOne['cat0'])
encoder = LabelEncoder()
labels = encoder.fit_transform(listLabel)
labels

array([7, 4, 7, ..., 7, 2, 7])

# pca for tf-idf

In [33]:
pca = PCA(80)
pca.fit(df_tf_idf)
pcaTfIdf = pca.transform(df_tf_idf)

In [37]:
column_values = []
for i in range(80):
  column_values.append("pcaTfIdf" + str(i))

dfPcaTfIdf = pd.DataFrame(data = pcaTfIdf, 
                  columns = column_values)
dfPcaTfIdf.to_csv('dfPcaTfIdf.csv')

# lda for zeroAndOne

In [38]:
from sklearn.model_selection import train_test_split
X_train , X_test , Y_train , Y_test = train_test_split(dfZeroOne, labels , test_size = 0.2 )

In [39]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as lda
ldaf = lda(n_components = 5)
ldaf.fit(X_train , Y_train)
featureTrain = ldaf.transform(X_train)
featureTest = ldaf.transform(X_test)
LdaZeroOnenp = np.concatenate((featureTrain, featureTest), axis=0)
column_values = []
for i in range(5):
  column_values.append("LdaZeroOne" + str(i))

dfLdaZeroOnenp = pd.DataFrame(data = LdaZeroOnenp, 
                  columns = column_values)
dfLdaZeroOnenp.to_csv('dfLdaZeroOnenp.csv')

# merge lda and pca

In [40]:
PcaLdaDf = pd.concat([dfPcaTfIdf , dfPcaZeroOne , dfLdaZeroOnenp ] , axis = 1)

In [41]:
PcaLdaDf.to_csv('PcaLdaDf.csv')

# TSNE for zeroOne

In [37]:
from sklearn.manifold import TSNE
X_embedded = TSNE(n_components=3, learning_rate='auto',init='random', perplexity=30 ,  random_state=30).fit_transform(dfZeroOne)

In [33]:
X_embedded.shape

(32728, 2)

In [39]:
column_values = []
for i in range(3):
  column_values.append("TSNEZeroOne" + str(i))

dfTSNEZeroOne= pd.DataFrame(data = X_embedded, 
                  columns = column_values)
dfTSNEZeroOne.to_csv('TSNEZeroOne.csv')